@import "tailwindcss";
@plugin "@tailwindcss/typography";
*{
  font-family: 'Kanit';
}

.gradient-bg {
  background: linear-gradient(to bottom right, #1b42cb, #ff2f6c);
  background: linear-gradient(
    to bottom right,
    oklab(0.5 0.2 -0.3),
    oklab(0.8 0.2 0.1)
  );
}

/*  Leaflet icon paths */
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png);
}

.leaflet-default-shadow-path {
  background-image: url(https://unpkg.com/leaflet@1.9.4/dist/images/marker-shadow.png);
}
